@using SurveyOnline.Web.Controllers
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>Homepage</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-toggle-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Topic")" class="navbar-brand font-1">
                    <span class="brand-part-one font-size-1">SURVEY</span>
                    <span class="brand-part-two font-size-2">ONLINE</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="collapse-toggle-main">
                <ul class="nav navbar-nav navbar-right">
                    <li class="first-menu-item"><a href="@Url.Action("Index","Topic")" class="active">Inicio</a></li>
                    <li>@Html.ActionLink("Crear encuesta", "SurveyForm", "Survey")</li>
                    <li>@Html.ActionLink("Crear tema","TopicForm","Topic")</li>
                    <li>@Html.ActionLink("Mis temas", "Mine", "Topic")</li>
                    <li><a href="#">Aplicar encuesta</a></li>
                    <li class="second-last-item">@Html.ActionLink("Cerrar sesión", "Logout", "Home")</li>
                    @{ if(Session["Username"] == null && Session["Picture"] == null){
                                ((SurveyOnlineController)this.ViewContext.Controller).ProfileSession();
                        }
                    }
                    <li class="last-menu-item" item-position="last">
                        <a href="@Url.Action("MyProfile", "Profile")" class="user-session font-size-2">
                            @Session["Username"].ToString()
                            <img src="@Session["Picture"].ToString()" class=" img-reponsive img-circle" alt="Profile picture">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {

            $('.navbar-toggle').click(function () {
                var element = $('.last-menu-item');

                if (element.attr('item-position') === 'last') {
                    $('.first-menu-item').before(element.attr('item-position', 'first'));

                } else {
                    $('.second-last-item').after(element.attr('item-position', 'last'));
                }
            });

        });
    </script>
</body>
</html>